<% if @page.errors.any? %>
<h3><color=red>Error creating article</color></h3>
<% @page.errors.full_messages.each do |error| %>

<ul>
  <li><%= error %></li>
</ul>

<% end %>
<% end %>

<%= form_for( @page, :html => {class: "form-horizontal", role: "form"} ) do |f| %>
<div class ="form-group">
  <div class = "col-sm-8">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", placeholder: "Title of Page", autofocus: true %>
</div>
  </div>
  
  <div class ="form-group">
    <div class ="col-sm-8">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 3, placeholder: "Description of Page" %>
    </div>
  </div>
<div class ="col-sm-8">
   <div class ="form-group">
    <%= f.submit class: "btn btn-primary btn-lg" %>
  </div>
  </div>
  <% end %>
      <%= link_to "Back to All Pages", pages_path %>